@model PortfolioSite.Models.Percent

@{
    ViewData["Title"] = "Pupdate";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Pupdate</h1>
<br />

@using (Html.BeginForm("Pupdate", "Skill", FormMethod.Post))
{
    @Html.LabelFor(x=>x.Id)
    @Html.TextBoxFor(x=>x.Id, new {@class ="form-control", @readonly ="readonly"})
        <br />
    @Html.LabelFor(x=>x.Name)
    @Html.TextBoxFor(x=>x.Name, new {@class ="form-control"})
        <br />
    @Html.LabelFor(x=>x.SPercent)
    @Html.TextBoxFor(x=>x.SPercent, new {@class ="form-control"})
        <br />
        @Html.LabelFor(x=>x.Min)
    @Html.TextBoxFor(x=>x.Min, new {@class ="form-control"})
        <br />
    @Html.LabelFor(x=>x.Max)
    @Html.TextBoxFor(x=>x.Max, new {@class ="form-control"})
        <br />
        <button class="btn btn-success">Update</button>
        <a class="btn btn-warning" asp-action="Index" asp-controller="Skill">Cancel</a>
}